@font-face{
    font-family: Lato;
    src: url(fonts/Lato/Lato-Light.ttf);
    
}
@font-face{
    font-family: Lato-Regular;
    src: url(fonts/Lato/Lato-Regular.ttf);
}
@font-face{
    font-family: Varela-Round;
    src: url(fonts/Varela_Round/VarelaRound-Regular.ttf);
}
@font-face{
    font-family: Slabo;
    src: url(fonts/Slabo_27px/Slabo27px-Regular.ttf);
}
@font-face{
    font-family: JoeleneHand;
    src: url(fonts/vtc_joelene_hand/VTC%20JoeleneHand%20Bold%20Italic.ttf);
}
@font-face{
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
}